
@{
    ViewBag.Title = "Index";
}

<h2>Task - 02</h2>
<div class="w-100" >
    <div class="w-50 mx-auto d-flex justify-content-center flex-column gap-4">

    <label id="text" class="fs-4 text-center"></label>
    <button id="printText" class="btn btn-lg btn-outline-dark">PRINT TEXT</button>
    <button id="bold" class="btn btn-lg btn-outline-dark">BOLD</button>
    <button id="italic" class="btn btn-lg btn-outline-dark">ITALIC</button>
    <button id="underline" class="btn btn-lg btn-outline-dark">UNDERLINE</button>
    <button id="reset" class="btn btn-lg btn-outline-dark">RESET</button>
    </div>
</div>